/* RESET CSS */
html, body, h1, h2, h3, h4, h5, h6, div, p, a, img, table, thead, tbody, th, td, dl, ul, ol, li, dt, dd, form, fieldset, label, button, hr {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
}
ol, ul { list-style: none; }
a img { border: none; }
:focus { outline: 0; }
/* RESET CSS */

/* COMMON */
html { background-color: #fff; }
body {
    margin: 0 auto;
    font-family: Arial;
    font-size: 62.5%;
    color: #444;
}
/* COMMON */

#container {
    position: relative;
    margin: 50px auto 50px auto;
    width: 600px;
    height: 600px;
}

.cube {
    background: purple; /* debug */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
}
.cube > span {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.8;
}
    .cube .n1 {
        left: 0;
        top: 0;
        background: red;
    }