/* RESET CSS */
html, body, h1, h2, h3, h4, h5, h6, div, p, a, img, table, thead, tbody, th, td, dl, ul, ol, li, dt, dd, form, fieldset, label, button, hr {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
}
ol, ul { list-style: none; }
a img { border: none; }
:focus { outline: 0; }
/* RESET CSS */

/* COMMON */
html { background-color: #fff; }
body {
    margin: 0 auto;
    font-family: Arial;
    font-size: 62.5%;
    color: #444;
}
/* COMMON */

#container {
    position: relative;
    margin: 50px auto 50px auto;
    width: 600px;
    height: 600px;
}